* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    /* justify-content: left; */
    color: #fff; /* white */
    /* background-color: dodgerblue; */
    /* background-color: #D6E8FE; */
    /* padding: 10px 0; */
}

.sidebar,
.content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-height: 500px;
    border-radius: 4px;
    height: 100vh;
    /* margin: 5px; */
    /* border: 1px solid #777 */
}

.sidebar {
    flex-grow: 1;
    min-width: 200px;
    /* background-color: dodgerblue; */
    background-color: #1122ff;
    color: white;
    align-items: center;
    /* margin: 5px; */
    padding: 8px;
    font-size: 24px;
}

.content {
    flex-grow: 8;
    min-width: 700px;
    /* background-color: #3344ff; */
    background-color: #3344ff;
    /* margin: 8px; */
    padding: 8px;
}

.current-page {
    color: black;
}